DATABASE_URL="mysql://root@127.0.0.1:3306/ict_cmac"
NEXTAUTH_SECRET="replace-me"
NEXTAUTH_URL="http://localhost:3000"
SERVER_ACTION_ALLOWED_ORIGINS="localhost:3000,127.0.0.1:3000"
SEED_DEFAULT_PASSWORD="password123"
